#canvas1{
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 600px;
    transition:1ms;
    border: none;
}
.controls{
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.controls, select, option{
    font-size: 25px;
}