<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="/edit/<%=note._id%>?_method=PUT" method="post">
        <label for="heading">Heading</label>
        <input type="text" name="heading" id="heading" value="<%=note.heading%>">
        <label for="tags">Tags</label>
        <input type="text" name="tags" id="tags" value="<%=note.tags%>">
        <label for="content">Content</label>
        <textarea type="text" name="content" id="content">
            <%=note.content%> 
            </textarea> 
        <button>submit</button>
    </form>
    <a href="/allNotes">Back</a>
</body>
</html>