<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="username">User name : </label>
        <input type="text" id="username" name="username">
        <label for="password">Password : </label>
        <input type="password" id="password" name="password">
        <button>login</button>
    </form>
    <div>
    <a href="/register">Register</a>
</div>
    <a href="/auth">Sign in with google</a>
</body>
</html>